 body {
   background-color: #f8f9fa;
 }

 .form-section {
   background-color: #ffffff;
   padding: 30px;
   border-radius: 10px;
   margin-bottom: 30px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
 }

 .form-section h4 {
   margin-bottom: 20px;
   font-weight: 600;
   color: #343a40;
 }

 .form-control:focus {
   border-color: #86b7fe;
   box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
 }


 .foto-miniatura {
   top: -50px;
   right: 0;
   width: 75px;
   /* Tamanho 3x4 (proporção aproximada) */
   height: 100px;
   border: 2px solid #ddd;
   border-radius: 4px;
   object-fit: cover;
   display: none;
 }

 .foto-miniatura.visible {
   display: block;
 }