.custom-toast {
  color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  animation: fadeSlideIn 0.4s ease;
}

.toast-body {
  background: rgba(152, 0, 0, 0.2);
  font-size: .8rem;
  flex-grow: 1;
}

.btn-close {
  filter: invert(1);
  opacity: 0.8;
}

.btn-close:hover {
  opacity: 1;
}

/* Animação de entrada */
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
